# Ignore virtual environment
env/

# Ignore pycache
src/__pycache__/
test/__pycache__/
.pytest_cache/
test/__pycache__/

# Scrapwork from previously messing around with PIL
old/

# Other scrap
scrap/

# Default output directory
out/

# Temp directory (currently used for workaround moving between PIL and Imageio)
tmp/